composer.lock
.Build
.ddev
.idea
.phpunit.cache
.phpunit.result.cache
.phpunit-integration.cache
var
Documentation/_build
Documentation/.buildinfo
Documentation/.doctrees
config/
.claude/
node_modules
