<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap=".Build/vendor/typo3/testing-framework/Resources/Core/Build/UnitTestsBootstrap.php"
         cacheDirectory=".phpunit.cache"
         executionOrder="depends,defects"
         beStrictAboutOutputDuringTests="true"
         failOnRisky="true"
         failOnWarning="true"
         colors="true"
         testdox="true">
    <testsuites>
        <testsuite name="default">
            <directory>Tests/Unit</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory>Classes</directory>
        </include>
    </coverage>
</phpunit>
