# Settings.cfg for Simple REST API extension documentation

[general]

project     = Simple REST API
version     = 0.2.0
release     = 0.2.0-rc1
copyright   = since 2025 by Queo Group

[html_theme_options]

# Dark mode on/off
# theme_color_mode = auto

[intersphinx_mapping]

# Intersphinx mapping for cross-references to TYPO3 documentation
t3coreapi = https://docs.typo3.org/m/typo3/reference-coreapi/main/en-us/
t3tca = https://docs.typo3.org/m/typo3/reference-tca/main/en-us/
t3tsref = https://docs.typo3.org/m/typo3/reference-typoscript/main/en-us/

[extensions]

# Add any Sphinx extensions here
# sphinxcontrib.phpdomain
